app
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #273237;
    color: white;

    .container
    {
        width: 700px;
        height: 100px;
    }

    #root
    {
        width: 100%;
        height: 100%;
        //background-color: red;
    }

    svg
    {       
        background-color: black;
    }

    .line
    {
        fill: none;
        stroke-width: 10px;
        stroke-linecap: round;
    }

    .base
    {
        fill: none;
        stroke-width: 6px;
        stroke-linecap: round;
        stroke: white;

        &.blank
        {
            stroke: transparent;
        }
    }
}