app
{
    --color-background: #273237;
    --color-top: steelblue;
    --color-bottom: lightblue;
    --color-base: white;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    color: white;

    .container
    {
        width: 80vw;
        height: 80vh;
        cursor: pointer;
    }

    #root
    {
        

        width: 100%;
        height: 100%;
        -webkit-backface-visibility:hidden;
        //background-color: red;
    }

    svg
    {       
        //background-color: black;
        
    }

    .line
    {
        fill: none;
        stroke-width: 0px;
        stroke-linecap: round;
        stroke: var(--color-bottom);

        &.top
        {
            stroke: var(--color-top);
        }

        &.dashed
        {
            //stroke: red;
        }
    }

    .circle
    {
        stroke: var(--color-base);
        stroke-width: 4;
        fill: var(--color-background);

        &.top
        {
            stroke: var(--color-top);
            
        }
       
        &.bottom
        {
            stroke: var(--color-bottom)
        }
    }

    .base
    {
        fill: none;
        stroke-width: 7px;
        stroke-linecap: round;
        stroke: white;

        &.blank
        {
            stroke: transparent;
        }
    }
}